In [ ]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv("D:\\SEMESTER 3\\PDS\\industrial_fault_detection_data_1000.csv")
data.head()

,Timestamp,Vibration (mm/s),Temperature (°C),Pressure (bar),RMS Vibration,Mean Temp,Fault Label
0,2023-03-10 00:00:00,0.437086,64.810634,7.785117,0.601657,90.561384,1
1,2023-03-10 00:01:00,0.955643,93.352076,7.740936,0.601657,90.561384,1
2,2023-03-10 00:02:00,0.758795,119.835667,9.718764,0.601657,90.561384,0
3,2023-03-10 00:03:00,0.638793,108.577991,7.748639,0.601657,90.561384,1
4,2023-03-10 00:04:00,0.240417,114.524892,7.815849,0.601657,90.561384,0

In [8]:
data.isna().sum()

Timestamp           0
Vibration (mm/s)    0
Temperature (°C)    0
Pressure (bar)      0
RMS Vibration       0
Mean Temp           0
Fault Label         0
dtype: int64

In [9]:
data.duplicated().sum()

np.int64(0)

In [ ]:
from sklearn